<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
    <link rel="stylesheet" href="create_next.css">
</head>
<body>
    <form>
    <h1>Educational Details</h1>
    <label>10th Marks:</label>
    <input type="text">
    <label>12th Marks:</label>
    <input type="text">
    <label>UG Marks:</label>
    <input type="text">
    <label>PG Marks:</label>
    <input type="text">
    <a href="create_next2.html"><button>Next</a></button>
    </form>
</body>
</html>