<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_next.css' %}">
</head>
<body>
    <form>
        <h1>Personal Information</h1>
        <label>Project</label>
        <input type="text">
        <label>Certificates</label>
        <input type="text">
        <label>Skills</label>
        <input type="text">
        <button>Next</button>
    </form>
</body>
</html>