<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form>
        <h1>Resume</h1>
        <label>First Name</label>
        <input type="text">
        <label>Last Name</label>
        <input type="text">
        <label>Email</label>
        <input type="email">
        <label>Contact Number</label>
        <input type="text">
        <button onclick="location.href='{% url 'steptwo' %}'">Next</button>
    </form>
</body>
</html>