<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REsume</title>
</head>
<body style="font-family:'Times New Roman', Times, serif; margin-left: 10rem; margin-right: 10rem;">
    <h1 style="text-align:center; letter-spacing:.1rem;">Abhishek Domunji | Developer</h1>
    <div style="text-align: center;">
        <span>Ph: <a href="#">9739202870</a></span>
        <span>Gmail: <a href="#">sample@gmail.comoidjgoidfjgijgoidfjgoidfg</a></span>
        <span>Github: <a href="#">github.com/something1234oifdjgoidfjgsjdng</a></span>
        <span>LinkedIn: <a href="#">LinkedIn/blah/blahkdjgoifdjgldng</a></span>
    </div>
    <br>
    <hr>
    <br>
    <div style="justify-content: center;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus adipisci totam blanditiis modi, neque excepturi eius suscipit quod repellendus incidunt tenetur pariatur necessitatibus facilis ea, molestiae ab omnis reprehenderit aliquam ratione recusandae provident iste quia cum veniam? Dolorum, a quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, magni?
    </div>
    <br>
    <div style="display: flex;">
        <div style="flex: 50%">
            <h1>Education</h1>
            <h3>Course name blah blah</h3>
            <ul>
                <li>name of college in which ur going</li>
                <li>specialization taking up nice nice</li>
                <li>923i4 - 2903u | Grade: 9.0</li>
            </ul>
            <h3>Senior School</h3>
            <ul>
                <li>name of college in which u went</li>
                <li>923i4 - 2903u | Grade: 9.0</li>
            </ul>
            <h3>Secondary School</h3>
            <ul>
                <li>name of school u went to</li>
                <li>923i4 - 2903u | Grade: 9.0</li>
            </ul>
            <h1>Skills</h1>
            <ul>
                <li>Skill No 1</li>
                <li>Skill No 2</li>
                <li>Skill No 3</li>
                <li>Skill No 4</li>
                <li>Skill No 5</li>
                <li>Skill No 6</li>
            </ul>
            <h1>Hobbies</h1>
            <ul>
                <li>Hobby no 1</li>
                <li>Hobby no 2</li>
                <li>Hobby no 3</li>
            </ul>
        </div>
        <div style="flex: 50%;">
            <h1>Projects</h1>
            <h1>Certificates</h1>
        </div>
    </div>
</body>
</html>