<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Resume</title>
  <style type="text/css">
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .top {
      text-align: center;
      margin: 0;
    }

    h1 {
      font-size: 30px;
    }

    .car-gl {
      font-size: 20px;
    }

    li {
      font-size: 23px;
    }
  </style>
</head>

<body>
  <header>
    <h1 class="top">Abhishek Domunji | Developer</h1>
    <div class="top">
      <address>Bangalore, Karnataka</address>
      <a href="mailto:abhishek95381@gmail.com">abhishek95381@gmail.com</a>
      <a href="https://github.com/abhishek1217">Github</a>
      <a href="https://www.linkedin.com/in/abhishek-domunji-785642191/">LinkedIn</a>
    </div>
  </header>
  <hr>
  <div class="container" style="margin-left: 15%; margin-right: 15%;">
    <section>
      <h1>Career Goals</h1>
      <p class="car-gl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis pariatur ab neque vero quisquam
        accusantium repudiandae modi eligendi! Praesentium ad sint sed doloribus cupiditate. Nobis repellat natus nemo
        hic consequatur libero tempora officia provident velit, unde aut, error dolorem mollitia?</p>
    </section>
    <div style="display: flex;">
      <section style="flex: 50%;">
        <h1>Education</h1>
        <ul>
          <li>Cambridge Institute Of Technology</li>
          <span>Pursuing BE in Information Science</span>
          <br>
          <span>Graduation - 2023</span>
          <li>Sri Chaitanya College</li>
          <span>12th Grade - Fail</span>
          <li>St Thomas Public School</li>
          <span>10th Grade - Fail</span>
        </ul>
        <h1>Skills</h1>
        <ul>

          <li>blah blah blah</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem ipsum dolor sit.</li>

        </ul>
      </section>
      <section style="flex: 50%;">
        <h1>Projects and Certifications</h1>
        <ul>
          <li>Certification: Machine Learning with Python(Research Based)
            <a href="https://drive.google.com/file/d/1mPe4qlEKu_63pBtD5reHKXdajRItmAw6/view?usp=sharing">Certificate</a>
          </li>
          <li>Certification: Web Development Bootcamp
            <a href="https://drive.google.com/file/d/1k0zhfSy71iMrSusISxhZUSXk9Cyz238-/view?usp=sharing">Certificate</a>
          </li>
          <li>Certification: 30 Days of Google Cloud
            <a href="https://drive.google.com/file/d/1NFlX5luKAvuuD6LVWYn_MFoqPasOyVp4/view?usp=sharing">Certificate</a>
          </li>
          <li>Project: <a href="https://github.com/abhishek1217/Project">Customer Relationship Management</a></li>
        </ul>
        <h1>Hobbies and Interests</h1>
        <ul>
          <li>Cricket</li>
          <li>Badminton</li>
          <li>Singing</li>
          <li>Gaming</li>
        </ul>
      </section>
    </div>
  </div>

  <footer>
    <div class="top">
      <address>Bangalore, Karnataka</address>
      <a href="mailto:abhishek95381@gmail.com">abhishek95381@gmail.com</a>
      <a href="https://github.com/abhishek1217">Github</a>
      <a href="https://www.linkedin.com/in/abhishek-domunji-785642191/">LinkedIn</a>
    </div>
  </footer>
</body>

</html>